.app {
    display: grid;
    place-items: center;
    background-color: #0F111A;
    height: 100vh;
    color: white;
    /* color: #82AAFF; */
}

.app__body {
    display: flex;
    height: 90vh;
    width: 90vw;
    margin-top: -50px;
    background-color: #090B10;
    /* background-color: white; */
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}