.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #8F93A2;
    border-radius: 5px;
}

.sidebarChat:hover {
    background-color: #001928;
}

.sidebarChat__info>h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat__info {
    margin-left: 15px;
}

a {
    text-decoration: none !important;
}

.sidebarChat__roomName {
    color: #CCA700;
    font-weight: bold;
    font-family: cursive;
}

.sidebarChat__lastMessage {
    color: #42A5F5;
    font-family: cursive;
}